html{
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    justify-content: center;
    text-align: center;
}

a{
    color: aquamarine;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}